body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url('wave.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.sidebar {
    width: 15%; /* Adjust width as needed */
    background-color: rgba(224, 247, 250, 0.85); /* Light blue with more opacity */ 
    padding: 20px;
    box-sizing: border-box; /* Includes padding in width */
    height: 100vh; /* Full height */
    position: fixed; /* Fixed position */
    overflow-y: auto; /* Enables scrolling if content is long */
}

.profile-image {
    width: 30%; /* Full width of sidebar */
    height: auto; /* Keep aspect ratio */
    border-radius: 20%; /* Circular image */
    margin-bottom: 20px;
}

.sidebar-content {
    /* Additional styling for sidebar content */
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
           
}
.main-content {
    margin-left: 20%; /* Same as the width of the sidebar */
    width: 80%; /* Remaining width */
    min-height: 100vh; /* Minimum height */
}

header {
    background-color: rgba(224, 247, 250, 0.85); /* Light blue with transparency */
    padding: 20px 0;
    text-align: center;
}

#repositories {
    padding: 20px;
}

.repo-list {
    background-color: rgba(255, 204, 204, 0.85); /* Light red with transparency */
    border: 1px solid #ff8888;
    padding: 20px;
    margin: auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Adds subtle shadow for depth */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}

footer {
    background-color: rgba(224, 247, 250, 0.85);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 80%;
}
.footer-content {
    text-align: center;
    /* Additional styling for footer content */
}
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
